<% include ../partials/header %>

<style>
body {
  background: url('/images/bkgrnd3.jpg') no-repeat center center fixed;
  background-size: cover;
}
</style>


<!-- <div class="show-backgrnd"> -->
<div class="show-page container text-center">
<h2>Drink Up</h2>

<h3><%= Title %></h3>

<div class="btn-row row <%= user ? '' : ' hidden' %>">
  <div class="col-sm-offset-2 col-sm-4">
    <!-- FAVORITES BTN -->
    <form class="favs-del-btn show-btn btn form <%= fav ? '' : ' hidden' %>" action="/favorites/<%= RecipeID %>">
      <button type="submit" class="del-btn btn btn-danger btn-md"><i class="glyphicon glyphicon-minus">&nbsp;<strong>Favorites</strong></i></button>
    </form>

    <form class="favs-add-btn show-btn form <%= fav ? ' hidden' : '' %>" action="/favorites">
      <input type="hidden" name="RecipeID" value="<%= RecipeID %>">
      <input type="hidden" name="Title" value="<%= Title %>">
      <button type="submit" class="add-btn btn btn-primary btn-md"><i class="glyphicon glyphicon-plus">&nbsp;<strong>Favorites</strong></i></button>
    </form>
  </div>
  <div class="col-sm-4">
    <!-- SHOPPING BTN -->
    <form class="shop-del-btn show-btn form <%= shop ? '' : ' hidden' %>" action="/shopping/<%= RecipeID %>">
      <button type="submit" class="del-btn btn btn-danger btn-md"><i class="glyphicon glyphicon-minus">&nbsp;<strong>Shopping List</strong></i></button>
    </form>

    <form class="shop-add-btn show-btn form <%= shop ? ' hidden' : '' %>" action="/shopping" method="POST">
      <input type="hidden" name="RecipeID" value="<%= RecipeID %>">
      <input type="hidden" name="Title" value="<%= Title %>">
      <!-- magic here to pass the ingredients -->
      <input type="hidden" name="Ingredients" value="<%= Ingredients.map(function(i) { return i.Name }).join(", ") %>">
      <button type="submit" class="add-btn btn btn-primary btn-md"><i class="glyphicon glyphicon-plus">&nbsp;<strong>Shopping List</strong></i></button>
    </form>
  </div>
</div>

<div class="row text-left show-details">
  <div class="col-sm-6">
    <h4>Ingredients</h4>

    <table class="table ingredients-table">
      <% Ingredients.forEach(function(ingredient) { %>
      <tr>
        <td><%= ingredient.DisplayQuantity %></td>
        <td><%= ingredient.Unit %></td>
        <td><%= ingredient.Name %></td>
      </tr>
      <% }); %>
    </table>
    <h4>Makes</h4>
    <table class="table makes-table">
      <tr>
        <td><%= YieldNumber %></td>
        <td><%= YieldUnit %></td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">


    <h4>Directions</h4>
    <p><%= Instructions %></p>
  </div>
</div>

</div>
<!-- </div> -->

<% include ../partials/footer %>