<% include ../partials/header %>

<div class="container text-center">
<h2>Your Cocktail Here</h2>

<h3><%= Title %></h3>


<!-- FAVORITES BTN -->
<form class="favs-del-btn btn form <%= fav ? '' : ' hidden' %>" action="/favorites/<%= RecipeID %>">
  <button type="submit" class="btn btn-danger btn-md"><i class="glyphicon glyphicon-minus">&nbsp;<strong>Favorites</strong></i></button>
</form>

<form class="favs-add-btn form <%= fav ? ' hidden' : '' %>" action="/favorites">
  <input type="hidden" name="RecipeID" value="<%= RecipeID %>">
  <input type="hidden" name="Title" value="<%= Title %>">
  <button type="submit" class="btn btn-primary btn-md"><i class="glyphicon glyphicon-plus">&nbsp;<strong>Favorites</strong></i></button>
</form>

<!-- SHOPPING BTN -->
<form class="shop-del-btn form <%= shop ? '' : ' hidden' %>" action="/shopping/<%= RecipeID %>">
  <button type="submit" class="btn btn-danger btn-md"><i class="glyphicon glyphicon-minus">&nbsp;<strong>Shopping List</strong></i></button>
</form>

<form class="shop-add-btn form <%= shop ? ' hidden' : '' %>" action="/shopping" method="POST">
  <input type="hidden" name="RecipeID" value="<%= RecipeID %>">
  <input type="hidden" name="Title" value="<%= Title %>">
  <input type="hidden" name="Ingredients" value="<%= Ingredients.map(function(i) { return i.Name }).join(", ") %>">
  <button type="submit" class="btn btn-primary btn-md"><i class="glyphicon glyphicon-plus">&nbsp;<strong>Shopping List</strong></i></button>
</form>


<h4>Ingredients</h4>

<table class="table">
  <% Ingredients.forEach(function(ingredient) { %>
  <tr>
    <td><%= ingredient.DisplayQuantity %></td>
    <td><%= ingredient.Unit %></td>
    <td><%= ingredient.Name %></td>
  </tr>
  <% }); %>
</table>

<h4>Makes</h4>

<table class="table">
  <tr>
    <td><%= YieldNumber %></td>
    <td><%= YieldUnit %></td>
  </tr>
</table>

<h4>Directions</h4>
<p><%= Instructions %></p>
<p><%= Subcategory %></p>
</div>

<% include ../partials/footer %>